process {
  beforeScript = 'mkdir -p ./tmp/ && export TMPDIR=./tmp/'
  executor='sge'
  withLabel: "download" {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
  }
  withLabel: "flo" {
    penv = "smp"
    clusterOptions = '-l mem=5G -l h_rt=24:0:0 -l tmpfs=5G'	
    cpus = 12
  }

}

singularity.enabled = true
singularity.autoMounts = true

